<?xml version="1.0"?>
<launch> 
    <arg name="path_file" default="straight.csv"/>
    <include file="$(find common_meta)/remote_launchmissions/machine_definition.launch" />

    <!-- ************* JETSONBOX NODES  **************** -->
    
    <group ns="jetsonbox">
      <!-- MMS client -->
      <node  machine="jetsonbox" name="mms_client_node" pkg="mms_client" type="mms_client_node" output="screen">
      	<rosparam command="load" file="$(find mms_client)/config/params.yaml" /> <!--Load parameters from config files-->
      </node>


      <!-- MOnitor -->
    <arg name="machine_name" default="jetsonbox"/>
    <arg name="config_file" default="$(find system_monitor)/config/system_monitor.yaml"/>
    <arg name="output" default="log"/>

    <group ns="system_monitor/$(arg machine_name)">
      <node machine="jetsonbox" name="cpu_monitor" pkg="system_monitor" type="cpu_monitor.py"
        output="$(arg output)" respawn="true"/>
      <node machine="jetsonbox" name="hdd_monitor" pkg="system_monitor" type="hdd_monitor.py"
        output="$(arg output)" respawn="true"/>
      <node machine="jetsonbox" name="mem_monitor" pkg="system_monitor" type="mem_monitor.py"
        output="$(arg output)" respawn="true"/>
    </group>
    
    <rosparam command="load" file="$(arg config_file)"
      ns="system_monitor/$(arg machine_name)"/>
  </group>
  
<!-- ************* RASPBERRY NODES  **************** -->

    <group ns="raspberry">
      <!-- hardware interface -->
      <node machine="raspberrypi" name="hardware_interface_node" pkg="hardware_interface" type="hardware_interface_node" output="screen">
      	<rosparam command="load" file="$(find hardware_interface)/config/params.yaml" /> <!--Load parameters from config files-->
      </node>

      
      <!-- teleop interface -->
      <node machine="raspberrypi" name="teleop_interface_node" pkg="teleop_interface" type="teleop_interface_node" output="screen">
      	<rosparam command="load" file="$(find teleop_interface)/config/params.yaml" /> <!--Load parameters from config files-->
      </node>

      <!-- control node -->
      
      <node machine="raspberrypi" name="control_node" pkg="control" type="control_node" output="screen">
          <param name="control_type"     value="1" /> <!-- stanley lateral controller -->
          <param name="longitudinal_control_type"     value="0" /> <!-- feed forward long ctrl -->

          <rosparam command="load" file="$(find control)/config/car_params.yaml" /> <!--Load parameters from config files-->
          <rosparam command="load" file="$(find control)/config/control.yaml" /> <!--Load parameters from config files-->
          <rosparam command="load" file="$(find control)/config/topic.yaml" /> <!--Load parameters from config files-->
      </node>

      <!-- lap counter node -->
      <node machine="raspberrypi" pkg="lap_counter" type="lap_counter" args="" name="lap_counter_node">
          <rosparam command="load" file="$(find lap_counter)/config/param.yaml" />
      </node>

   

		<!--param name="path_csv" type="string" value='$(find dejavu_planner)/paths/$(arg path_file)' /--> 
    <!--node name="static_planner_node" pkg="dejavu_planner" type="static_planner_node.py" output="screen"/-->

      <node machine="raspberrypi" pkg="dejavu_planner" type="dejavu_planner_node" args="" name="dejavu_planner_node"/>
      

      <!-- null transform track map -->
      <node machine="raspberrypi" name="null_transform_track_pose_node" pkg="track_orientation" type="null_transform_node" output="screen"/>
  </group>
</launch>
