<?xml version="1.0"?>
<launch> 
  <arg name="dev" default="/dev/input/js0"/>
  
  <include file="$(find hardware_interface)/launch/hardware_interface.launch" />

  <include file="$(find teleop_interface)/launch/teleop_interface.launch" />

  <include file="$(find teleop_interface)/launch/joy.launch" >
  	<arg name="dev" value="$(arg dev)" />
  </include>

  <include file="$(find lap_counter)/launch/lap_counter.launch"/> 

  <include file="$(find track_orientation)/launch/zero_transform.launch" />

  <!--include file="$(find control)/launch/control.launch" /-->

  <!--node pkg="dejavu_planner" type="dejavu_planner_node.py" args="" name="dejavu_planner_node"/-->
</launch>
